<div id="header">
    <nav class="navbar navbar-inverse">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/">Select</a></li>
                <li><a href="#/insert">Insert</a></li>
                <li><a href="#/update">Update</a></li>
                <li><a href="#/delete">Delete</a></li>
                <li><a href="#/join">Join</a></li>
            </ul>
        </div>
    </nav>
</div>    

<div class="table">
    <div class="container">
        <div>
            <img src="../../img/orient.png">
        </div>
        <div class="row">
            <div col-sm-4>
                <h2>Form check time</h2>
                <form>
                <div class="form-group">
                    <label>Year</label>
                    <input type="text" class="form-control" placeholder="Year" ng-model="year">
                </div>
                <div class="form-group">
                    <label>Limit</label>
                    <input type="text" class="form-control" placeholder="Limit" ng-model="limit">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="onClick()">Check</button>
                </form>
            </div>
        </div>
        <div class="row">
            <h3>Time: </h3><br>
            <h4><label>Orient DB: {{orientTime}}</label></h4><br>
            <h4><label>MySQL: {{sqlTime}}</label></h4><br>
            <h4><label>Record: {{list.length}}</label></h4><br>
        </div>
        <div class="row">
            <center>
                <h2>Table</h2>
            </center>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>nconts</th>
                        <th>primaryName</th>
                        <th>birthYear</th>
                        <th>deathYear</th>
                        <th>primaryProfession</th>
                        <th>knownForTitles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in list">
                        <td>{{$index+1}}</td>
                        <td>{{i.nconts}}</td>
                        <td>{{i.primaryName}}</td>
                        <td>{{i.birthYear}}</td>
                        <td>{{i.deathYear}}</td>
                        <td>{{i.primaryProfession}}</td>
                        <td>{{i.knownForTitles}}</td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>