<div class="row">
    <div id="header">
        <nav class="navbar navbar-inverse">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Select</a></li>
                    <li><a href="#/insert">Insert</a></li>
                    <li><a href="#/update">Update</a></li>
                    <li><a href="#/delete">Delete</a></li>
                    <li><a href="#/join">Join</a></li>
                </ul>
            </div>
        </nav>
    </div>    
</div>

<div class="table">
    <div class="container">
        <div class="row">
            <h2>Join</h2>
                <form>
                <div class="form-group">
                    <label>Vote</label>
                    <input type="text" class="form-control" placeholder="vote" ng-model="vote">
                </div>
                <div class="form-group">
                    <label>Limit</label>
                    <input type="text" class="form-control" placeholder="limit" ng-model="limit">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="onClick()">Check</button>
            </form>
        </div>
        <div class="row">
            <h3>Time: </h3><br>
            <h4><label>Orient DB: {{orientTime}}</label></h4><br>
            <h4><label>MySQL: {{sqlTime}}</label></h4><br>
            <h4><label>Records: {{list.length}}</label></h4>
        </div>
        <div class="row">
            <center>
                <h2>Table</h2>
            </center>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Votes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="i in list">
                        <td>{{$index+1}}</td>
                        <td>{{i.tconst}}</td>
                        <td>{{i.primatytTitle}}</td>
                        <td>{{i.numVotes}}</td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>